body {
  background-image: url("images/background.png");
}

.main {
  font-family: sans-serif;
  display: block;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
  font-size: 2rem;
  color: rgb(49, 49, 49);
  box-sizing: border-box;
  overflow: scroll;
}

.title {
  background-color: #ededed;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 100vw;
  font-size: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

img {
  width: 49px;
  height: 49px;
  box-sizing: border-box;
}

.title p {
  margin-left: 1rem;
  font-weight: bold;
}

#result {
  background-color: #fafafa;
  box-shadow: 1px 2px rgb(151, 151, 151);
  padding: 1rem;
  border-radius: 15px;
  max-width: 80vw;
  font-size: 1.6rem;
}

.bottom {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #f0f0f0;
}

.bottom input {
  border: none;
  height: 2rem;
  align-self: center;
  flex-grow: 2;
  border-radius: 10px;
  pointer-events: none;
}
